In [ ]:
import numpy as np
array = np.array([3,6,9,12])

pembagian = array/3

print(pembagian)

print(type(pembagian))

[1. 2. 3. 4.]
<class 'numpy.ndarray'>

In [ ]:
list = ([3,6,9,12])

division = list/3

TypeError: ignored

In [ ]:
import numpy as np
list = np.array([3,6,9,12])

division = list/3
print(division)

print(type(pembagian))

[1. 2. 3. 4.]
<class 'numpy.ndarray'>

In [ ]:
buah = ["pisang", "mangga", "jeruk", "durian", "semangka"]
# cara lain untuk menampilkan array
print(buah)

buah[4] = "melon"
print(buah)

buah.append('anggur') #tambah list
print(buah)

['pisang', 'mangga', 'jeruk', 'durian', 'semangka']
['pisang', 'mangga', 'jeruk', 'durian', 'melon']
['pisang', 'mangga', 'jeruk', 'durian', 'melon', 'anggur']

In [ ]:
reptil = ["buaya", "ular", "tuatara", "anaconda", "biawak"]
print(reptil)

reptil[3] = "kadal"
print(reptil)

reptil.append("penyu")
print(reptil)

reptil.insert(3, "cicak")
print(reptil)

reptil.remove("cicak")
print(reptil)

['buaya', 'ular', 'tuatara', 'anaconda', 'biawak']
['buaya', 'ular', 'tuatara', 'kadal', 'biawak']
['buaya', 'ular', 'tuatara', 'kadal', 'biawak', 'penyu']
['buaya', 'ular', 'tuatara', 'cicak', 'kadal', 'biawak', 'penyu']
['buaya', 'ular', 'tuatara', 'kadal', 'biawak', 'penyu']

In [ ]:
hewanberkaki2 = ["ayam", "bebek", "burung"]
hewanberkaki4 = ["kambing", "sapi", "kijang"]

hewanberkaki2.extend(hewanberkaki4) #menggabungkan list
print(hewanberkaki2)

hewanberkaki2.pop(-1) #menghapus index terakhir
print(hewanberkaki2)

['ayam', 'bebek', 'burung', 'kambing', 'sapi', 'kijang']
['ayam', 'bebek', 'burung', 'kambing', 'sapi']

In [ ]:
lkosong = ["bayam", "kangkung", "kosong", "sawi", "paprica", "kosong"]

lada = lkosong.copy()

lkosong.clear() #kosongkan list

lkosong.count("kosong") # hitung kosong keluar berapa kali

print(lkosong)
print(lada)

[]
['bayam', 'kangkung', 'kosong', 'sawi', 'paprica', 'kosong']

In [ ]:
angka = [14,7,2,54,32,56,77,21,53,80]
target = int(input("cari angka berapa : "))
cari = False

for i in range(len(angka)):
  cari = angka[i] == target
  if cari :
    break

if cari :
  print("angka berada pada index ke ", i)
else:
  print("angka tidak ditemukan")

cari angka berapa : 14
angka berada pada index ke  0

In [ ]:
# Khulika Malkan (2311110057)
# Tugas Praktikum Algoritma Pemograman (S1SD04-B)

nama_nama_pegawai = ["Akhdiyat Duta Modjo", "Eros Candra", "Adam Muhammad Subarkah", "Saktia Ari Seno"]
print(nama_nama_pegawai)

nama_nama_pegawai.remove('Eros Candra') # menghapus data Eros Candra
print(nama_nama_pegawai)

nama_nama_pegawai.append ("Brian Kresno Putro") # Masukkan data Brian Kresna Putro
print(nama_nama_pegawai)

nama_nama_pegawai.insert(2, "Anton Widiastanto") # Memasukkan data Anton Widiastanto
print(nama_nama_pegawai)

nama_nama_pegawai[2] = "Abdul Jaelani Ishaq" # Mengganti data Anton Widiastanto menjadi Abdul Jaelani Ishaq
print(nama_nama_pegawai)

nama_nama_pegawai.remove("Saktia Ari Seno") # Menghapus data Saktia Ari Seno
print(nama_nama_pegawai)

['Akhdiyat Duta Modjo', 'Eros Candra', 'Adam Muhammad Subarkah', 'Saktia Ari Seno']
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Saktia Ari Seno']
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Saktia Ari Seno', 'Brian Kresno Putro']
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Anton Widiastanto', 'Saktia Ari Seno', 'Brian Kresno Putro']
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Abdul Jaelani Ishaq', 'Saktia Ari Seno', 'Brian Kresno Putro']
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Abdul Jaelani Ishaq', 'Brian Kresno Putro']

In [ ]:
nama_pegawai = ["Akhidayat Duta Modjo", "Eros Candra", "Adam Muhammad Subarkah", "Saktia Ari Seno"]
print(nama_pegawai)

nama_pegawai.remove('Eros Candra')
print(nama_pegawai)

tambahan = int(input("masukan data tambahan: "))
pegawai_baru = int(input("masukan data : "))
print(tambahan)
print(pegawai_baru)

tambahan.extend(pegawai_baru) #menggabungkan list
print(tambahan)

['Akhidayat Duta Modjo', 'Eros Candra', 'Adam Muhammad Subarkah', 'Saktia Ari Seno']
['Akhidayat Duta Modjo', 'Adam Muhammad Subarkah', 'Saktia Ari Seno']
masukan data tambahan: bil

ValueError: ignored

In [ ]:
# Khulika Malkan (2311110057)
# Tugas Praktikum Algoritma Pemograman (S1SD04-B)

nama_nama_pegawai = []

nama_nama_pegawai = ["Akhdiyat Duta Modjo", "Eros Candra", "Adam Muhammad Subarkah", "Saktia Ari Seno"]
print(nama_nama_pegawai)

nama_nama_pegawai.remove('Eros Candra') # menghapus data Eros Candra
print(nama_nama_pegawai)

nama_nama_pegawai.append(input("masukan nama : ")) # Masukkan data Brian Kresna Putro
nama_nama_pegawai.append(input("masukan nama :")) # Memasukkan data Anton Widiastanto
print(nama_nama_pegawai)

nama_nama_pegawai[2] = "Abdul Jaelani Ishaq" # Mengganti data Anton Widiastanto menjadi Abdul Jaelani Ishaq
print(nama_nama_pegawai)

nama_nama_pegawai.remove('Saktia Ari Seno') # Menghapus data Saktia Ari Seno
print(nama_nama_pegawai)

print("seluruh data pegawai : ")
for pegawai in nama_nama_pegawai :
  print(egawai)

['Akhdiyat Duta Modjo', 'Eros Candra', 'Adam Muhammad Subarkah', 'Saktia Ari Seno']
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Saktia Ari Seno']
masukan nama : lik
masukan nama :ko
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Saktia Ari Seno', 'lik', 'ko']
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Abdul Jaelani Ishaq', 'lik', 'ko']

ValueError: ignored

In [ ]:
# Khulika Malkan (2311110057)
# Tugas Praktikum Algoritma Pemograman (S1SD04-B)

nama_pegawai = []

nama_pegawai = ["Akhdiyat Duta Modjo", "Eros Candra", "Adam Muhammad Subarkah", "Saktia Ari Seno"]
print(nama_pegawai)

nama_pegawai.remove("Eros Candra") # menghapus data Eros Candra
print(nama_pegawai)

nama_pegawai.append(str(input("masukkan nama : "))) # Memasukkan data baru menggunakan fungsi input
nama_pegawai.append(str(input("masukkan nama : ")))
print(nama_pegawai)

index_Anton = nama_pegawai.index("Anton Widiastanto") # Mengganti data Anton Widiastanto menjadi Abdul Jaelani Ishaq
nama_pegawai[index_Anton] = "Abdul Jaelani Ishaq"
print(nama_pegawai)

nama_pegawai.remove("Saktia Ari Seno") # Menghapus data Saktia Ari Seno
print(nama_pegawai)

print("seluruh data pegawai : ") # Mampilan seluruh data pegawai menggunakan perulangan
for pegawai in nama_pegawai :
  print(pegawai)

['Akhdiyat Duta Modjo', 'Eros Candra', 'Adam Muhammad Subarkah', 'Saktia Ari Seno']
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Saktia Ari Seno']
masukkan nama : Brian Kresna Putro
masukkan nama : Anton Widiastanto
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Saktia Ari Seno', 'Brian Kresna Putro', 'Anton Widiastanto']
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Saktia Ari Seno', 'Brian Kresna Putro', 'Abdul Jaelani Ishaq']
['Akhdiyat Duta Modjo', 'Adam Muhammad Subarkah', 'Brian Kresna Putro', 'Abdul Jaelani Ishaq']
seluruh data pegawai :
Akhdiyat Duta Modjo
Adam Muhammad Subarkah
Brian Kresna Putro
Abdul Jaelani Ishaq