In [ ]:
#tipe data  & variabel
print([1,2,3,4])
type([1,2,3,4])

[1, 2, 3, 4]

list

In [ ]:
print(['satu','dua','tiga','empat'])
type(['satu','dua','tiga','empat'])

['satu', 'dua', 'tiga', 'empat']

list

In [ ]:
print((1,2,3,4))
type((1,2,3,4))

(1, 2, 3, 4)

tuple

In [ ]:
Nama = "Lika"
Alamat = "Kuningan, Jawa Barat"
Pekerj44n = "Mahasiswi"

print(Nama)
print(Alamat)
print(Pekerj44n)

Lika
Kuningan, Jawa Barat
Mahasiswi

In [ ]:
Banyak_baris ="""
saya
berkuliah
di
Institut teknologi telkom purwokerto
"""
print(Banyak_baris)

saya
berkuliah
di
Institut teknologi telkom purwokerto

In [ ]:
# input output
print("cilimus", "kuningan", "Jawa barat", sep ="//")
print("30", "maret", "1950", sep="--")
print("purwokerto", "banyumas", "jawa tengah", end="**")
print("republik", end="\\")
print("indonesia")

cilimus//kuningan//Jawa barat
30--maret--1950
purwokerto banyumas jawa tengah**republik\indonesia

In [ ]:
hari = "jum'at"
print(hari)

jum'at

In [ ]:
alamat = input("masukan alamat domisili :")
print("alamat domisili saya adalah:", alamat)

masukan alamat domisili :kuningan
alamat domisili saya adalah: kuningan

In [ ]:
angka1 =int(input("masukan angka pertama : "))
angka2 =int(input("masukan angka kedua : "))
hasil = angka1 * angka2
print("hasil perkalian", angka1, "dan", angka2, "adalah", hasil)

masukan angka pertama : 2
masukan angka kedua : 4
hasil perkalian 2 dan 4 adalah 8

In [ ]:
## rupiah ke dollar
angka =int(input("masukan Rp : "))
hasil = int(angka/15000)
print("hasil konversi : $", hasil)

masukan Rp : 30000
hasil konversi : $ 2

In [ ]:
angka =int(input("masukan $ : "))
hasil = int(angka*15000)
print("hasil konversi : Rp.", hasil)

masukan $ : 5
hasil konversi : Rp. 75000

In [ ]:
# operator
print("lika, cantik!")

lika, cantik!

In [ ]:
a = 5
b = 12
a * b

60

In [ ]:
a = [1,2,3,4,5]
5 in a
9 not in a

True

In [ ]:
x = True
y = False
print (x and y)
print (x or y)
print (not y)

False
True
True

In [ ]:
a = 4
b =  3
print (a|b)

7

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
x = 3
y = 2

print("x + y :", x+y)   #penjumlahan
print("x - y :", x-y)   #pengurangan
print("x*y :", x*y)     #perkalian
print("x/y :", x/y)     #pembagian(bil.pecahan)
print("x//y :", x//y)   #pembagian(bil.bulat, pembulatan selalu kebawah)
print("x % y :", x%y)   #modulus(sisa pembagian)
print("x**y :", x**y)   #perpangkatan

x + y : 5
x - y : 1
x*y : 6
x/y : 1.5
x//y : 1
x % y : 1
x**y : 9

In [ ]:
x = 5
y = 3

print("x>y :", x>y)
print("x<y :", x<y)
print("x==y :", x==y)
print("x != y :", x!=y)
print("x >= y :", x>=y)
print("x <= y :", x<=y)

x>y : True
x<y : False
x==y : False
x != y : True
x >= y : True
x <= y : False

In [ ]:
a= 8
a += 2
a*=10
a /= 4
a **= 2
print("nilai a adalah :", a)

nilai a adalah : 625.0

In [ ]:
x = True
y = False

#logika And.
z = x and y
print("True and False :", z)
#logika Or.
z = x or y
print("True or False :", z)
#logika Not.
z = not x
print("Not True :", z)

True and False : False
True or False : True
Not True : False

In [ ]:
## Operator in.
x = [1,3,6]
y = 3
print("y in x :", y in x)

#operator not in.
x = [1,3,6]
y = 3
print("y not in :", y not in x)

y in x : True
y not in : False

In [ ]:
##operator is.
x = 5
y = x
print("y adalah x :", y is x)

#operator is not.
a = 10
b = 5
print("b is not a :", b is not a)

y adalah x : True
b is not a : True

In [ ]:
tahun = int(input('Masukkan tahun anda : '))
tahun_kabisat = (tahun % 400 == 0) or (tahun % 4 == 0 and tahun % 100 != 0)
print ('Tahun yang anda masukkan', tahun_kabisat)

Masukkan tahun anda : 2000
Tahun yang anda masukkan True

In [ ]:
# selection
nilai = 71
if nilai >= 90:
  print("grade A")
else :
    print("grade B")

grade B

In [ ]:
nilai = 51
if nilai >= 90:
  print("grade A")
elif nilai >= 70:
  print("grade B")
elif nilai >= 60:
  print("grade C")
else:
  print("grade D")

grade D

In [ ]:
umur = int(input("masukan umur anda: "))
if umur >= 11:
  if umur > 18:
    print("tiket tersedia")
    if umur <=  20 or umur >=60:
      print("harga tiket 35.000")
    else:
      print("harga tiket 50.000")
  else :
    print("anda masih bocil")
else:
    print("tiket tidak tersedia")

masukan umur anda: 18
anda masih bocil

In [ ]:
bilangan= int(input("masukan bilangan :"))

if bilangan < 0:
  print("bilangan negatif")
elif bilangan == 0:
  print("bilangan nol")
else:
  print("bilangan positif")

masukan bilangan :54
bilangan positif

In [ ]:
x = int(input("masukan nilai x : "))
y = int(input("masukan nilai y : "))

if x > y :
  print(f"bilangan x={x} terbesar")
else :
  print(f"bilangan y={y} terbesar")

masukan nilai x : 5
masukan nilai y : 8
bilangan y=8 terbesar

In [ ]:
nilai = int(input("masukan nilai anda: "))
if nilai >= 90:
  print("grade A")
elif nilai >= 70:
  print("grade B")
elif nilai >= 60:
  print("grade C")
elif nilai >= 50:
  print("grade D")
elif nilai < 50 :
  print("grade E")
else:
    print("grade D")

masukan nilai anda: 67
grade C

In [ ]:
umur = int(input("masukan umur anda: "))
if umur <= 5:
  print("balita")
elif umur <=12 :
  print("anak anak")
elif umur <= 18:
  print("remaja")
else:
    print("dewasa")

masukan umur anda: 18
remaja

In [ ]:
# repetion
i = 0
while i < 3:
  print("meow")
  i += 1

meow
meow
meow

In [ ]:
#for list
for i in [0,1,2]:
  print("meow")

meow
meow
meow

In [ ]:
#for range
for i in range(3):
  print("meow")

meow
meow
meow

In [ ]:
tinggi_persegi = int(input("i : "))
lebar_persegi = int(input("j : "))

print()

for i in range (tinggi_persegi):
  for j in range (lebar_persegi):
    print(" *", end=" ")

  print()

i : 3
j : 9

 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

In [ ]:
tinggi_segitiga = int(input("input tinggi segitiga : "))
print()

for i in range (tinggi_segitiga):
  for j in range (i+1):
    print(" *", end=" ")

  print()

input tinggi segitiga : 6

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *

In [ ]:
tinggi_segitiga = int(input("input tinggi segitiga : "))
print()

for i in range (tinggi_segitiga):
  for j in range (1, i+1):
    print(j, " ", end = "", sep= "")

  print()

input tinggi segitiga : 8


1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [ ]:
tinggi_segitiga = int(input("input tinggi segitiga : "))
print()

for i in range (tinggi_segitiga):
  for j in range (i):
    print(1, "", end = "")

  print()

input tinggi segitiga : 5


1
1 1
1 1 1
1 1 1 1

In [ ]:
ulang = 10

for i in range (ulang):
  print("perlangan ke-", i)

perlangan ke- 0
perlangan ke- 1
perlangan ke- 2
perlangan ke- 3
perlangan ke- 4
perlangan ke- 5
perlangan ke- 6
perlangan ke- 7
perlangan ke- 8
perlangan ke- 9

In [ ]:
for i in range(1,10):
  print(i, end= ' ')
print()

for i in range(10):
  print(i, end= ' ')
print()

for i in range(1,15,3):
  print(i, end= ' ')
print()

1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
1 4 7 10 13

In [ ]:
while True:
  reply = input('enter text, [type "stop" to quit]:')
  if reply == 'stop':
    break
  print(reply.lower())

enter text, [type "stop" to quit]:hello
hello
enter text, [type "stop" to quit]:HELLO
hello
enter text, [type "stop" to quit]:STOP
stop
enter text, [type "stop" to quit]:stop

In [ ]:
x = 0
while True:
  nama = input("Masukan Nama: ")
  print("Nama anda adalah: ", nama)
  x+=1
  if x == 5:
    break
  print(reply)k

Masukan Nama: lik
Nama anda adalah:  lik
stop
Masukan Nama: lika
Nama anda adalah:  lika
stop
Masukan Nama: malika
Nama anda adalah:  malika
stop
Masukan Nama: malkan
Nama anda adalah:  malkan
stop
Masukan Nama: huli
Nama anda adalah:  huli

In [ ]:
for i in range(10):
  print(i)
  if i == 5:
    break

0
1
2
3
4
5

In [ ]:
i = 0
while (i<8):
  i+=1
  if(i==8):
    continue
  print(i, end=' ')
print()

1 2 3 4 5 6 7

In [ ]:
data = [1,2,3,4,5,6,7,8,9,10]
for i in data:
  if i % 2 == 0:
    print(i, "adalah bilangan genap")
  else:
    print(i, "adalah bilangan ganjil")

1 adalah bilangan ganjil
2 adalah bilangan genap
3 adalah bilangan ganjil
4 adalah bilangan genap
5 adalah bilangan ganjil
6 adalah bilangan genap
7 adalah bilangan ganjil
8 adalah bilangan genap
9 adalah bilangan ganjil
10 adalah bilangan genap

In [ ]:
data = [1,2, 'tiga', 4, 'lima', 'enam', 7, 8.2, 9.3, 'sepuluh']
batas = len(data)

for i in range(batas):
  print("data indek ke", i, "adalah", data[i])

data indek ke 0 adalah 1
data indek ke 1 adalah 2
data indek ke 2 adalah tiga
data indek ke 3 adalah 4
data indek ke 4 adalah lima
data indek ke 5 adalah enam
data indek ke 6 adalah 7
data indek ke 7 adalah 8.2
data indek ke 8 adalah 9.3
data indek ke 9 adalah sepuluh

In [ ]:
nilai = 54
while True:
  n = int(input("masukan nilai: "))
  if n == nilai:
    print("inputan benar")
    break
  print("input salah")

masukan nilai: 54
inputan benar

In [ ]:
numbers = [7, 8, 9, 10, 11, 12, 13, 6, 5, 4, 3, 2, 1]
total = 0

for number in numbers:
  total += number
print("hasil penjumlahan semua nilai adalah:", total)

hasil penjumlahan semua nilai adalah: 91

In [ ]:
string = ""

x = int(input("Masukan angka: "))
bar = x
while bar >= 0:
    kol = bar
    while kol > 0:
        string = string +"   "
        kol = kol - 1
    kiri = 1
    while kiri < (x - (bar-1)):
        string = string + " * "
        kiri = kiri + 1
    kanan = 1
    while kanan < kiri -1:
        string = string + " * "
        kanan = kanan + 1

    string = string + "\n\n"
    bar = bar - 1

print(string)

Masukan angka: 10


                            *

                         *  *  *

                      *  *  *  *  *

                   *  *  *  *  *  *  *

                *  *  *  *  *  *  *  *  *

             *  *  *  *  *  *  *  *  *  *  *

          *  *  *  *  *  *  *  *  *  *  *  *  *

       *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

    *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

In [ ]:
while True:
    print("Program Kalkulator Perhitungan Luas Bidang")
    print("==========================================")
    print("1. Luas Persegi Panjang")
    print("2. Luas Segitiga")
    print("3. Luas Lingkaran")
    print("4. Keluar")
    pilihan = int(input("Silahkan pilih perhitungan (1/2/3/4): "))
    if pilihan == 1:
        panjang = float(input("Masukan panjang persegi panjang: "))
        lebar = float(input("Masukan lebar persegi panjang: "))
        luas_persegi_panjang = panjang * lebar
        print("Luas persegi panjang adalah: ", luas_persegi_panjang)
    elif pilihan == 2:
        alas = float(input("Masukan alas segitiga: "))
        tinggi = float(input("Masukan tinggi segitiga: "))
        luas_segitiga = 0.5 * alas * tinggi
        print("Luas segitiga adalah: ", luas_segitiga)
    elif pilihan == 3:
        jarijari = float(input("Masukan jari-jari lingkaran: "))
        luas_lingkaran = 3.14 * jarijari * jarijari
        print("Luas lingkaran adalah: ", luas_lingkaran)
    elif pilihan == 4:
        print("Selesai, terima kasih guys!")
        break
    else:
        print("Pilihan tidak valid")

Program Kalkulator Perhitungan Luas Bidang
==========================================
1. Luas Persegi Panjang
2. Luas Segitiga
3. Luas Lingkaran
4. Keluar
Silahkan pilih perhitungan (1/2/3/4): 4
Selesai, terima kasih guys!