In [ ]:
# ini adalah komentar
# komentar 1
# komentar 2
# komentar 3

print(11,22,33)
print("belajar membuat komputer dalam python")
prodi = "S1 Sains Data"
kampus = "Institut Teknologi Telkom Purwokerto"
print("program studi :", prodi, kampus)

11 22 33
belajar membuat komputer dalam python
program studi : S1 Sains Data Institut Teknologi Telkom Purwokerto

In [ ]:
print("Purwokerto", "Banyumas", "Jawa Tengah", sep ="-")
print("30", "maret", "1950", sep="/")
print("purwokerto", "banyumas", "jawa tengah", end=",")
print("republik", end=" ")
print("indonesia")

Purwokerto-Banyumas-Jawa Tengah
30/maret/1950
purwokerto banyumas jawa tengah,republik indonesia

In [ ]:
print("purwokerto", "banyumas", "jawa tengah", sep=" ", end="&\n")
print("republik indonesia", end=" ")
print("77 tahun")

purwokerto banyumas jawa tengah&
republik indonesia 77 tahun

In [ ]:
#fungsi input tanpa prompt
kota=input()
print("nama kota : ", kota)

kuningan
nama kota :  kuningan

In [ ]:
#fungsi imput prompt
alamat = input("masukan alamat domisili :")
print("alamat domisili saya adalah:", alamat)

masukan alamat domisili :kuningan
alamat domisili saya adalah: kuningan

In [ ]:
print(float(60))
print(int(5.8967))

60.0
5

In [ ]:
#operasi matematika sederhana penambahan dua bilangan
angka1 = input("masukan angka pertama : ")
angka2 = input("masukan angka kedua : ")
hasil = angka1 + angka2
print("Hasil penjumlahan", angka1, "dan", angka2, "adalah", hasil)

masukan angka pertama : 2
masukan angka kedua : 4
Hasil penjumlahan 2 dan 4 adalah 24

In [ ]:
#operasi matematika
angka1 =int(input("masukan angka pertama : "))
angka2 =int(input("masukan angka kedua : "))
hasil = angka1 + angka2
print("hasil penjumlahan", angka1, "dan", angka2, "adalah", hasil)

masukan angka pertama : 2
masukan angka kedua : 4
hasil penjumlahan 2 dan 4 adalah 6

In [ ]:
print("                            *")
print("                          *   *")

                            *
                          *   *

In [ ]:
berat=input(berat)
print("berat badan : ", berat)

2020
berat badan :  20

In [ ]:
#rupiah ke dollar
angka =int(input("masukan Rp : "))
hasil = int(angka1/15000)
print("hasil konversi : $", hasil)

masukan Rp : 100000
hasil konversi : $ 0

In [ ]:
#dollar ke rupiah
angka =int(input("masukan $ : "))
hasil = int(angka1*15000)
print("hasil konversi : Rp.", hasil)

masukan $ : 4
hasil konversi : Rp. 60000