In [ ]:
x = 3
y = 2

print("x + y :", x+y)   #penjumlahan
print("x - y :", x-y)   #pengurangan
print("x*y :", x*y)     #perkalian
print("x/y :", x/y)     #pembagian(bil.pecahan)
print("x//y :", x//y)   #pembagian(bil.bulat, pembulatan selalu kebawah)
print("x % y :", x%y)   #modulus(sisa pembagian)
print("x**y :", x**y)   #perpangkatan

x + y : 5
x - y : 1
x*y : 6
x/y : 1.5
x//y : 1
x % y : 1
x**y : 9

In [ ]:
x = 5
y = 3

print("x>y :", x>y)
print("x<y :", x<y)
print("x==y :", x==y)
print("x != y :", x!=y)
print("x >= y :", x>=y)
print("x <= y :", x<=y)

x>y : True
x<y : False
x==y : False
x != y : True
x >= y : True
x <= y : False

In [ ]:
#menginputkan nilai 8 di a
a= 8
a += 2
a*=10
a /= 4
a **= 2
print("nilai a adalah :", a)

nilai a adalah : 625.0

In [ ]:
#menambahan dengan 2
a += 2
print(a)

10

In [ ]:
#mengurangi dengan 3
a -= 3
print(a)

7

In [ ]:
#kali 10
a*=10
print(a)

70

In [ ]:
#membagi dengan 4
a /= 4
print(a)

17.5

In [ ]:
#mepangkatkan 2
a **= 2
print(a)

306.25

In [ ]:
#berapakah nilai a sekarang?
print("nilai a adalah :", a)

nilai a adalah : 306.25

In [ ]:
x = True
y = False

#logika And.
z = x and y
print("True and False :", z)
#logika Or.
z = x or y
print("True or False :", z)
#logika Not.
z = not x
print("Not True :", z)

True and False : False
True or False : True
Not True : False

In [ ]:
#Operator in.
x = [1,3,6]
y = 3
print("y in x :", y in x)

#operator not in.
x = [1,3,6]
y = 3
print("y not in :", y not in x)

y in x : True
y not in : False

In [ ]:
#operator is.
x = 5
y = x
print("y adalah x :", y is x)

#operator is not.
a = 10
b = 5
print("b is not a :", b is not a)

y adalah x : True
b is not a : True

In [ ]:
a = 8
a = a+3
#a += 3

In [ ]:
#tugas praktikum algoritma pemograman
Khulika Malkan (2311110057)

a = 9
b = 5

print("a == b :", a==b)
print("a<b :", a<b)
print("a>b :", a>b)
print("a <= b :", a<=b)
print("a >= b :", a>=b)
print("a != b :", a!=b)

a == b : False
a<b : False
a>b : True
a <= b : False
a >= b : True
a != b : True

In [ ]:
#tugas praktikum algoritma pemograman
Khulika Malkan (2311110057)

a = 5
b = 6

print("a + b :", a+b)
print("b - a :", b-a)
print("a*b :", a*b)
print("a/b :", a/b)

a + b : 11
b - a : 1
a*b : 30
a/b : 0.8333333333333334

In [ ]:
#latihan
tahun = 2100

if (tahun % 400 == 0) or (tahun % 400 == 0 and tahun % 100 != 0) :
  print("tahun ini adalah tahun kabisat")
else :
  print("tahun ini bukan tahun kabisat")

tahun ini bukan tahun kabisat

In [ ]:
tahun = int(input('Masukkan tahun anda : '))
tahunkabisat = (tahun % 400 == 0) or (tahun % 4 == 0 and tahun % 100 != 0)
print ('Tahun yang anda masukkan', tahunkabisat)

Masukkan tahun anda : 2100
Tahun yang anda masukkan False

In [ ]:
tahun = int(input('Masukkan tahun anda : '))
tahun_kabisat = (tahun % 400 == 0) or (tahun % 4 == 0 and tahun % 100 != 0)
print ('Tahun yang anda masukkan', tahun_kabisat)

Masukkan tahun anda : 20023
Tahun yang anda masukkan False