In [ ]:
def hello_world():
  print("hello_world")
  hello_world

hello_world

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
def tampilkanangka (i):
  print(f"perulangan ke{i}")

tampilkanangka(1)
tampilkanangka(2)
tampilkanangka(3)

perulangan ke1
perulangan ke2
perulangan ke3

In [ ]:
def tampilkanangka (batas, i = 1):
  print(f"perulangan ke{i}")

tampilkanangka(3)
tampilkanangka(3, 2)
tampilkanangka(3, 4)
tampilkanangka(4, 5)

perulangan ke1
perulangan ke2
perulangan ke4
perulangan ke5

In [ ]:
def tampilkanangka(batas, i=1):
  print(f"perulangan ke {i}")

  if (i < batas):
    tampilkanangka(batas, i + 1)

tampilkanangka(10,5)

perulangan ke 5
perulangan ke 6
perulangan ke 7
perulangan ke 8
perulangan ke 9
perulangan ke 10

In [ ]:
n = int(input("masukan nilai n : "))

def hitung_faktorial (n):
  if n >= 2:
    return n * hitung_faktorial(n-1)

  return 1  #kondisi else klo yg atas ga terpenuhi

faktorial = hitung_faktorial(n)
print(f"{n}! = {faktorial}")

masukan nilai n : 0
0! = 1

In [ ]:
bilangan = int(input("masukkan bilangan : "))
pangkat = int(input("masukkan pangkat : "))

def hitung_pangkat(bilangan, pangkat):
  if pangkat >= 1:
    return bilangan * hitung_pangkat(bilangan, pangkat-1)

  return 1

hasil = hitung_pangkat(bilangan, pangkat)
print(f"hasil = {hasil}")

masukkan bilangan : 5
masukkan pangkat : 1
hasil = 5

In [ ]:
def fibonacci(n):
  return [n]

print(fibonacci(1))
print(fibonacci(2))
print(fibonacci(3))
print(fibonacci(4))

[1]
[2]
[3]
[4]

In [ ]:
def fibonacci (n):
  if n < 1:
    return [n]

  return fibonacci(n-1) + [n]

print(fibonacci(5))

[0, 1, 2, 3, 4, 5]

In [ ]:
def fibonacci (n):
  if n < 1:
    return [n]

  list_sebelum_n = fibonacci(n-1)
  angka1 = list_sebelum_n[-2] if len(list_sebelum_n) > 2 else 0
  angka2 = list_sebelum_n[-1] if len(list_sebelum_n) > 2 else 1

  print("list_sebelum_n", list_sebelum_n)
  print(f"angka1: {angka1}, angka2: {angka2}")
  print()

  return list_sebelum_n + [a]

print(fibonacci(30))

list_sebelum_n [0]
angka1: 0, angka2: 1

list_sebelum_n [0, 1]
angka1: 0, angka2: 1

list_sebelum_n [0, 1, 2]
angka1: 1, angka2: 2

list_sebelum_n [0, 1, 2, 3]
angka1: 2, angka2: 3

list_sebelum_n [0, 1, 2, 3, 4]
angka1: 3, angka2: 4

list_sebelum_n [0, 1, 2, 3, 4, 5]
angka1: 4, angka2: 5

list_sebelum_n [0, 1, 2, 3, 4, 5, 6]
angka1: 5, angka2: 6

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7]
angka1: 6, angka2: 7

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8]
angka1: 7, angka2: 8

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
angka1: 8, angka2: 9

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
angka1: 9, angka2: 10

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
angka1: 10, angka2: 11

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
angka1: 11, angka2: 12

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
angka1: 12, angka2: 13

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
angka1: 13, angka2: 14

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
angka1: 14, angka2: 15

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
angka1: 15, angka2: 16

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
angka1: 16, angka2: 17

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
angka1: 17, angka2: 18

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
angka1: 18, angka2: 19

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
angka1: 19, angka2: 20

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
angka1: 20, angka2: 21

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
angka1: 21, angka2: 22

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
angka1: 22, angka2: 23

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
angka1: 23, angka2: 24

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
angka1: 24, angka2: 25

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
angka1: 25, angka2: 26

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]
angka1: 26, angka2: 27

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]
angka1: 27, angka2: 28

list_sebelum_n [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
angka1: 28, angka2: 29

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
# Khulika Malkan (2311110057)
# Tugas Praktikum

def fibonacci (n):
  if n < 1:
    return [n]

  list_sebelum_n = fibonacci(n-1)
  angka1 = list_sebelum_n[-2] if len(list_sebelum_n) > 2 else 0
  angka2 = list_sebelum_n[-1] if len(list_sebelum_n) > 2 else 1

  print("list_sebelum_n", list_sebelum_n)
  print(f"angka1: {angka1}, angka2: {angka2}")
  print()

  return list_sebelum_n + [angka1 + angka2]

panjang = int(input("masukkan panjang deret : "))

print(fibonacci(panjang-1))

masukkan panjang deret : 2
list_sebelum_n [0]
angka1: 0, angka2: 1

[0, 1]

In [ ]:
# khulika malkan (2311110057)
# tugas praktikum rekursif
def fibonacci (n):
  if n < 1:
    return [n]

  list_sebelum_n = fibonacci(n-1)
  angka1 = list_sebelum_n[-2] if len(list_sebelum_n) > 2 else 0
  angka2 = list_sebelum_n[-1] if len(list_sebelum_n) > 2 else 1

  return list_sebelum_n + [angka1 + angka2]

panjang = int(input("masukkan panjang deret : "))

print(fibonacci(panjang-1))

masukkan panjang deret : 2
[0, 1]

In [ ]:
# khulika malkan (2311110057)
# tugas praktikum rekursif

In [1]:
def func(x):
  if x==0:
    return 0
  return x+func(x-1)

func(5)

15

In [ ]:
def func(x):
  if x==0:
    return 0
  return x+func(x-1)

func(2)

3