nama : Khulika Malkan
NIM  : 2311110057
Kelas: S1SD04-B

nomor **1**

In [ ]:
angka = 0
list = []

for j in range (1, 36):
    if j % 3 == 0 or j % 5 == 0:
      list.append(str(j))
      angka += j

print("Angka Kelipatan:", list)
print("Total: ", angka)

Angka Kelipatan: ['3', '5', '6', '9', '10', '12', '15', '18', '20', '21', '24', '25', '27', '30', '33', '35']
Total:  293

nomor **2**

In [ ]:
n = 5
deret = " "
jumlah = 0

for i in range(1, n+1):
    angka = int(str(n) * i)
    deret += str(angka) + " + "
    jumlah += angka

deret = deret.rstrip(" + ")
print(deret)
print("Sum of above series is:", jumlah)

 5 + 55 + 555 + 5555 + 55555
Sum of above series is: 61725

nomor **3**

In [ ]:
nilai = [58, 13, 107, -30, -7]

def terbesar(a, n):
    if n == 1:
        return a[0]
    return max(a[n-1], terbesar(a, n-1))

print("Nilai terbesar:",terbesar(nilai, len(nilai)))

Nilai terbesar: 107

nomor **4**

In [ ]:
# kondisi 1
baju = int(input("Masukkan Jumlah Baju yang dibeli: "))
celana = int(input("Masukkan Jumlah Celana yang dibeli: "))
total = float(baju*120000 + celana*90000)

if baju > 4 and celana >= 3:
  print("Anda mendapatkan diskon 20%")
  print("Total sebelum diskon", total)
  diskon = total - (total * 0.2)
  print("Total yang harus dibayarkan adalah", diskon)
elif baju == 3 and celana == 2:
  print("Anda mendapatkan diskon 10%")
  print("Total sebelum diskon", total)
  diskon = total - (total * 0.1)
  print("Total yang harus dibayarkan adalah", diskon)
else:
   print("Anda tidak mendapatkan diskon")
   print("Total sebelum diskon", total)
   print("Total yang harus dibayarkan adalah", total)

Masukkan Jumlah Baju yang dibeli: 6
Masukkan Jumlah Celana yang dibeli: 6
Anda mendapatkan diskon 20%
Total sebelum diskon 1260000.0
Total yang harus dibayarkan adalah 1008000.0

In [ ]:
# kondisi 2
baju = int(input("Masukkan Jumlah Baju yang dibeli: "))
celana = int(input("Masukkan Jumlah Celana yang dibeli: "))
total = float(baju*120000 + celana*90000)

if baju > 4 and celana >= 3:
  print("Anda mendapatkan diskon 20%")
  print("Total sebelum diskon", total)
  diskon = total - (total * 0.2)
  print("Total yang harus dibayarkan adalah", diskon)
elif baju == 3 and celana == 2:
  print("Anda mendapatkan diskon 10%")
  print("Total sebelum diskon", total)
  diskon = total - (total * 0.1)
  print("Total yang harus dibayarkan adalah", diskon)
else:
   print("Anda tidak mendapatkan diskon")
   print("Total sebelum diskon", total)
   print("Total yang harus dibayarkan adalah", total)

Masukkan Jumlah Baju yang dibeli: 3
Masukkan Jumlah Celana yang dibeli: 2
Anda mendapatkan diskon 10%
Total sebelum diskon 540000.0
Total yang harus dibayarkan adalah 486000.0

In [ ]:
# kondisi 3
baju = int(input("Masukkan Jumlah Baju yang dibeli: "))
celana = int(input("Masukkan Jumlah Celana yang dibeli: "))
total = float(baju*120000 + celana*90000)

if baju > 4 and celana >= 3:
  print("Anda mendapatkan diskon 20%")
  print("Total sebelum diskon", total)
  diskon = total - (total * 0.2)
  print("Total yang harus dibayarkan adalah", diskon)
elif baju == 3 and celana == 2:
  print("Anda mendapatkan diskon 10%")
  print("Total sebelum diskon", total)
  diskon = total - (total * 0.1)
  print("Total yang harus dibayarkan adalah", diskon)
else:
   print("Anda tidak mendapatkan diskon")
   print("Total sebelum diskon", total)
   print("Total yang harus dibayarkan adalah", total)

Masukkan Jumlah Baju yang dibeli: 1
Masukkan Jumlah Celana yang dibeli: 1
Anda tidak mendapatkan diskon
Total sebelum diskon 210000.0
Total yang harus dibayarkan adalah 210000.0