In [ ]:
#fungsi if(Khulika Malkan)


nilai = 91
if nilai >= 90:
  print("grade A")

grade A

In [ ]:
#fungsi if else(Khulika Malkan)

nilai = 71
if nilai >= 90:
  print("grade A")
else :
    print("grade B")

grade B

In [ ]:
##fungsi if elif statment(Khulika Malkan)

nilai = 61
if nilai >= 90:
  print("grade A")
elif nilai >= 70:
  print("grade B")
elif nilai >= 60:
  print("grade c")

grade c

In [ ]:
##latihan if elif else STATMENT(Khulika Malkan)

nilai = 51
if nilai >= 90:
  print("grade A")
elif nilai >= 70:
  print("grade B")
elif nilai >= 60:
  print("grade C")
else:
  print("grade D")

grade D

In [ ]:
#nested if statment/if bersarang(Khulika Malkan)

umur = 38
if umur >= 11:
  print("tiket tersedia")
  if umur <=  18 or umur >=60:
    print("harga tiket 35.000")
  else:
    print("harga tiket 50.000")
else:
    print("tiket tidak tersedia")

tiket tersedia
harga tiket 50.000

In [ ]:
##latihan

umur = int(input("masukan umur anda: "))
if umur >= 11:
  if umur > 18:
    print("tiket tersedia")
    if umur <=  20 or umur >=60:
      print("harga tiket 35.000")
    else:
      print("harga tiket 50.000")
  else :
    print("anda masih bocil")
else:
    print("tiket tidak tersedia")

masukan umur anda: 12
anda masih bocil

In [ ]:
##latihan 6

bilangan= int(input("masukan bilangan :"))

if bilangan < 0:
  print("bilangan negatif")
elif bilangan == 0:
  print("bilangan nol")
else:
  print("bilangan positif")

masukan bilangan :3
bilangan positif

In [ ]:
##latihan 7
x = int(input("bilangan x adalah terbesar : "))
y = int(input("bilangan y adalah terbesar : "))

if x > y:
  print("bilangan terbesar adalah x : ",x)
else:
  print("bilangan terbesar adalah y : ", y)

bilangan x adalah terbesar : 4
bilangan y adalah terbesar : 6
bilangan terbesar adalah y :  6

In [ ]:
x = int(input("bilangan x adalah terbesar : "))
y = int(input("bilangan y adalah terbesar : "))

if x > y:
  print("bilangan terbesar adalah x : ",x)
else:
  print("bilangan terbesar adalah y : ", y)

In [ ]:
x = int(input ("Masukkan bilangan x anda sayang : "))
y = int(input ("Masukkan bilangan y anda sayangkyu cintakyu: "))

if x > y :
  print ("Bilangan ", x , "Terbesar")
else :
  print("bilangan",y, "terbesar")

Masukkan bilangan x anda sayang : 2
Masukkan bilangan y anda sayangkyu cintakyu: 5
bilangan 5 terbesar

In [ ]:
x = int(input("masukan nilai x : "))
y = int(input("masukan nilai y : "))

if x > y :
  print(f"bilangan x={x} terbesar")
else :
  print(f"bilangan y={y} terbesar")

masukan nilai x : 4
masukan nilai y : 5
bilangan y=5 terbesar

In [ ]:
#tugas no 1 (Khulika Malkan)
#seleksi.py:

nilai = int(input("masukan nilai anda: "))
if nilai >= 90:
  print("grade A")
elif nilai >= 70:
  print("grade B")
elif nilai >= 60:
  print("grade C")
elif nilai >= 50:
  print("grade D")
elif nilai < 50 :
  print("grade E")
else:
    print("grade D")

masukan nilai anda: 55
grade D

In [ ]:
#tugas no 2 (Khulika Malkan)
#tebak_umur.py:

umur = int(input("masukan umur anda: "))
if umur <= 5:
  print("balita")
elif umur <=12 :
  print("anak anak")
elif umur <= 18:
  print("remaja")
else:
    print("dewasa")

masukan umur anda: 45
dewasa

In [ ]:
umur = int(input("masukan umur anda: "))
if umur > 5:
  print("anak anak")
  if umur > 5 or umur <= 18:
    print("remaja")
  else:
    print("dewasa")
else:
    print("balita")

masukan umur anda: 11
anak anak
remaja