In [ ]:
print('hello, world!')

hello, world!

In [ ]:
a = 5
b = 12
a * b

60

In [ ]:
print(1 < 10)

True

In [ ]:
a = [1,2,3,4,5]
5 in a
9 not in a

True

In [ ]:
#boolean
a= "sircle"
b = "AI"
a==b

False

In [ ]:
x = True
y = False
print (x and y)
print (x or y)
print (not y)

False
True
True

In [ ]:
#operasi biner
a = 2
b =  1
print (a|b)

3

In [ ]:
#funcion
def perkenalkan(nama, umur) :
  print()

In [ ]:
def tambah(x):
    return x+2

tambah(3)

5

In [ ]:
umur = 12
if umur<18:
  print("masih kecil")
if umur=18 :
  print("udah gede")
else:
  print("bocil")

SyntaxError: ignored

In [ ]:
def check(number):
  if number >0
  return "positive"

In [ ]:
#perulangan(looping)
x = 7

while x > 0:
  print("positive x=", str(x))
  x -= 1

positive x= 7
positive x= 6
positive x= 5
positive x= 4
positive x= 3
positive x= 2
positive x= 1

In [ ]:
for x in range(3):
  print(x)

0
1
2

In [ ]:
for x in range(8):
  print(x)
  if x == 1v:
    break

0
1

In [ ]:
for x in range(3,0,-1):
  if x % 2 == 0:
    continue
  print(x)

3
1

In [ ]:
#modulus (%)
def is_even(x):
  if x % 2 == 0:
    return True
  else:
    return False

print(is_even(4))

True

In [ ]:
#list
my_list = [1,2,3, "apel", "mangga"]
my_list

[1, 2, 3, 'apel', 'mangga']

In [ ]:
#acces list
my_list[3]

'apel'

In [ ]:
my_list.insert(3,12)
my_list

[1, 2, 3, 12, 12, 'apel', 'mangga']

In [ ]:
#remove by item
my_list.remove("apel")
my_list.pop(2)
my_list

[1, 2, 12, 12, 'mangga']

In [ ]:
my_dict = {
    "name" : "lika",
    "color" : "yellow"
}
my_dict

{'name': 'lika', 'color': 'yellow'}

In [ ]:
#modify dictionary
my_dict

In [ ]:
my_set = {1,2,3,4,5}

my_set.add(6)
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6}

In [ ]:
my_set1 ={1,3,5}
my_set2 ={2,4,6}

unionset = my_set1 | my_set2
print(unionset)

{1, 2, 3, 4, 5, 6}

In [ ]:
print(unionset.clear())

None